.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: var(--title-start);
  margin: 20px 0;
}

.thinkingPerson {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.instructions {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 2rem;
}

.startButton {
  font-family: "Roboto Mono", monospace;
  background-color: var(--btn-primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.startButton:hover {
  background-color: var(--btn-secondary);
}

