.game {
  align-items: center;
  padding: 20px;
}

.TypeInput {
  display: flex;
  gap: 10px;
}

.input {
  width: 70%;
  padding: 10px;
  margin-bottom: 1px;
  border: 1px solid var(--btn-primary);
  border-radius: 3px;
}

.btnSub {
  font-family: "Roboto Mono", monospace;
  padding: 0px 15px;
  background-color: var(--btn-primary);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnSub:hover {
  background-color: var(--btn-secondary);
}

.btnBack {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnBack:hover {
  background-color: #0056b3;
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-size: 15px;

  display: block;
  padding: 0;
}
